* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 80%;
    margin: auto;
}

.row {
    display: flex;
}

.col {
    width: 50%;
}

.table {
    width: 100%;
    margin-top: 20px;
}

h1 {
    margin: 20px 0;
}

h2 {
    margin: 20px 0;
}

.btn {
    border: none;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}

.btn-grey {
    background: lightgray;
    color: aliceblue;
}

.btn-grey:hover {
    background-color: lightsteelblue;
}

.btn-red {
    background: lightcoral;
    color: aliceblue;
}

.btn-red:hover {
    background-color: darkred;
}

.btn-green {
    background: #91d291;
    color: aliceblue;
}

.btn-green:hover {
    background-color: lightseagreen;
}

.btn-blue {
    background: lightblue;
    color: aliceblue;
}

.btn-blue:hover {
    background-color: lightskyblue;
}

.mt-2 {
    margin-top: 1.1rem;
}

.mt-4 {
    margin-top: 2rem;
}

.px-4 {
    padding: 0 2rem;
}